#main_stage {

	border:1px solid black;
	width:1280px;
	height:720px;
	margin:auto;
	display:flex;
	

}
.ui{
	height:65px;
	width:65px;
}

.selected{
	border:4px solid yellow;
	border-radius:5px;
	box-sizing: border-box;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 830px) {

body {
	overflow: hidden;
	overflow-y: hidden;
	
}

#main_stage {

	-webkit-overflow-scrolling: touch;
	border:1px solid black;
	width:90vw;
	height:50vh;
	margin:auto;
	display:flex;
	border-radius:10px;

}
}